:root { 
--white_A700_7f:#ffffff7f; 
--gray_900_35:#1e232b35; 
--gray_900_cc:#1d222acc; 
--red_500:#e74c3c; 
--gray_50:#f8f8f8; 
--black_900_21:#00000021; 
--white_A700_11:#ffffff11; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--red_A700:#ff0000; 
--black_900_49:#00000049; 
--gray_900_02:#0d1623; 
--gray_300_21:#e0e0e021; 
--gray_900_03:#1e232a; 
--gray_700:#666666; 
--gray_500:#919191; 
--white_A700_0c:#ffffff0c; 
--amber_600:#ffb802; 
--gray_900_00:#1e232a00; 
--gray_900:#1d222a; 
--gray_900_01:#1e232b; 
--gray_300:#e5e5e5; 
--black_900_33:#00000033; 
--gray_400_47:#c4c4c447; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}